body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  text-align: center;
  background-color: transparent;
  color: gray;
  text-align: center;
  padding: 1px;
  margin-top: 50px;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
}